* {
    font-size: 10px;
    font-family: 'Arial Narrow';
    /* font-family: 'Times New Roman'; */
}

td,
th,
tr,
table {
    /* border-top: 1px solid black; */
    border-collapse: separate;
    border-spacing: 0;
}

.titik-dua {
    width:10px;
    text-align: center;
}

.table-me {
    border-spacing: 0 5px; 
    margin: -5px 0;
}

.title-items {
    vertical-align: top; 
    text-align: left;
}

.col-list {
    width: 10px; 
    vertical-align: top; 
    text-align: center;
}

.col-price {
    width: 38px; 
    vertical-align: bottom; 
    text-align: right;
}

.col-title {
    text-align: right; 
    width: 135px;
}

.col-description-price {
    width: 55px;
    vertical-align: center; 
    text-align: right;
}

.centered {
    text-align: center;
    align-content: center;
}

body {  
    margin: 0;
    padding: 0;
}

.ticket {
    width: 166px;
    max-width: 166px;
    padding: 0 0px;
    margin: 0;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}

hr {
    border:none;
    border-top:1px dashed rgb(31, 31, 31);
}